.productsContainer {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 30px;
}

@media (min-width: 1023px) {
    .productsContainer {
        padding-left: 10%;
        padding-right: 20%;
        min-height: 200vh;
        width: 100%;
        flex-flow: row wrap;
    }
}