.navigation {
    position: relative;
    top: 0;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    gap: 3vw;
    background-color: #EFF4F8;
    padding: 20px;
    border-radius: 0 0 0 10px;
    z-index: 1000; /* Ensure it's above other elements */

    .navRight {
        display: flex;
        flex-flow: row;
        gap: 20px;
    }

    svg {
        color: #5E9A13;
        font-size: 40px;
        cursor: pointer;
        
        &:hover {
            color: darkgreen;
        }
    }

    .nav {
        margin-top: 20vh;
        position: fixed;
        background-color: white;
        top: 0;
        left: 0;
        width: 100vw;
        height: 80vh;
        display: none;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        z-index: 999; /* Ensure it's on top */

        &.open {
            display: flex;
        }

        a {
            color: black;
            font-size: 24px;
            text-decoration: none;
            margin: 15px 0;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .active {
        color: black;
        background-color: #fff;
    }
}
