.staffContainer {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 30px;
    background-image: url(/public/blob_02.jpg);
    padding-bottom: 30px;
}

